doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Секретница

    link(rel='stylesheet' href='/index.css')

  block styles
  block scripts

  body
    .container
      header.header
        h1.title #{pageTitle}

      block content
    