extends layout.pug

block styles
  link(rel='stylesheet' href='/textarea.css')
  link(rel='stylesheet' href='/button.css')
  link(rel='stylesheet' href='/secret.css')

block content
  .wrapper
    if(secretContent)
      textarea.textarea.secret(readonly type="password")=secretContent
      button.button Показать секрет
    else
      p Секрета не существует

  script(src='/secret.js')
