.form {
  position: relative;
  display: flex;
}

.input {
  width: calc(100vw - 100px);
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.input:focus {
  outline: none;
}

.button {
  margin-left: -2px;
  border: 2px solid gray;
  border-radius: 0 5px 5px 0;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.icon {
  font-size: 20px;
  color: gray;
}

.button:hover .icon {
  color: #fff;
}

.copied {
  position: absolute;
  bottom: -30px;
  right: 5px;

  font-size: 12px;
  font-weight: 700;
  color: green;
}

@media (min-width: 480px) {
  .input {
    width: 380px;
  }
}
